<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/sailor.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/dashboard.css">
  <title>Dashboard</title>
</head>

<body class="dark">
  <div class="container">
    <header>
      <div class="logo-title">
        <a class="logo" href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="SailorLogo" /></a>
        <h1>Dashboard</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#overview" class="active">Overview</a></li>
          <li><a href="#playlists">Playlists</a></li>
        </ul>
      </nav>
      <div class="profile-container">
        <a class="logout-button" href="/discord-logout">Logout</a>
        <img
          src="{% if logged_in %}{{ discord_avatar_url }}{% else %}{{ url_for('static', filename='default_profile_picture.png') }}{% endif %}"
          alt="Profile Picture" class="user-avatar" />
      </div>
    </header>

    <div id="overview" class="tab-content active">
      <div class="tiles">
        <div class="spotify-card">
          {% if spotify_linked %}
          <div>
            <img src="{{ user_profile_pic }}" alt="Profile Picture" />
            <div class="details">
              <p>Connected as {{user_username}}</p>
              <a href="{{ profile_link }}" target="_blank">Open Spotify</a>
            </div>
          </div>
          <div class="actions">
            <button class="disconnect-spotify" onclick="disconnectSpotify()">
              Disconnect Spotify
            </button>
          </div>
          {% else %}
          <div>
            <img src="{{ url_for('static', filename='spotify_logo.png') }}" alt="Spotify Logo" />
            <div class="details">
              <p>Looks like you don't have a Spotify account linked!</p>
              <a href="/spotify-login" id="connect-button">Connect Spotify</a>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="stats-cards">
          <div class="card">
            <h2>Songs Played</h2>
            <p>{{song_stats}}</p>
          </div>
          <div class="card">
            <h2>Duration Listened</h2>
            <p>{{listen_stats}}</p>
          </div>
          <div class="card">
            <h2>Liked Songs</h2>
            <p>{{liked_songs}}</p>
          </div>
          <div class="card">
            <h2>Playlists Created</h2>
            <p>{{playlists_created}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="playlists-tab-content" class="tab-content">
    {% if user_playlists_data_bool %}
    <div class="content">
      <div class="playlist-containers">

        {% if user_playlists_data %}
        <div class="playlists-container">
          <h2>🎧 Your Playlists</h2>
          <ul>
            {% for playlist in user_playlists_data['playlists'] %}
            <li data-playlist-id="{{ playlist['name'] }}"
              class="playlist-item {% if loop.index == 1 %}playlist-active{% endif %}">
              {{ playlist['name'] }}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if collab_playlists %}
        <div class="playlists-container">
          <h2>🤝 Collab Playlists</h2>
          <ul>
            {% for collab_playlist in collab_data %}
            {% if logged_in in collab_playlist['allowed_users'] %}
            <li data-playlist-id="{{ collab_playlist['_id'] }}" class="playlist-item collaborative">
              {{ collab_playlist['name'] }}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

      </div>
      <div id="playlist-songs" class="songs-container">
        <div class="lists">
          <button onclick="currentSongs()" class="active">Current Songs</button>
          <button onclick="playlistRecommendations()">Recommendations</button>
        </div>
        <ul id="songs-list"></ul>
      </div>
      <div id="collab-container" class="collab-container" style="display: none;">
        <h2>👥 Authorized Users</h2>
        <div class="input-button">
          <input type="text" id="collab-input" placeholder="Enter user ID" />
          <button id="add-user-button" onclick="addUserToCollabPlaylist()">Add User</button>
        </div>
        <div class="users-list"></div>
      </div>
    </div>
    {% else %}
    <div class="no-playlists">
      <div class="title">
        <h1>No Playlists Found</h1>
      </div>
      <div class="description">
        <p>Looks like you don't have any playlists!</p>
        <p>Maybe try playing some music on Sailor and creating some awesome playlist!</p>
      </div>
    </div>
    {% endif %}
  </div>
  <script>
    let user_playlists = {{ user_playlists | tojson | safe }};
    let collab_data = {{ collab_data | tojson | safe }};
    const my_userID = {{ logged_in | tojson | safe }}
    let currentPlaylist = "";
    let currentIsCollab = false;
  </script>
  <script src="/static/scripts/dashboard.js"></script>
</body>
</html>